output
input
node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.models_cache
__pycache__
package-lock.json
cache/*
backend/cache/*
backend/backend/storage/temp_batch/*
backend/storage/audio_library/*
venv/
backend/venv/
*.db
ssh.txt